<%- include('_checkbox_field.ejs', { buttons: [
   { object: 'scene', function: 'object_properties', name: 'Scene Properties' } 
]}); %>
<div id="object_properties"></div>
<%- include ('_button_field.ejs', { buttons: [ 
  { object: 'selected' , function: 'reset_object', name: 'Reset' }, 
  { object: 'selected' , function: 'delete_object', name: 'Delete' }
]}); %>
<%- include ('_vector_field.ejs', {object: 'selected' , keys: ['position'], name: 'Pos.' }); %>
<%- include ('_vector_field.ejs', {object: 'selected' , keys: ['quaternion'], name: 'Axis' }); %>
<%- include ('_numeric_field.ejs', {object: 'selected' , keys: ['quaternion', 'w'], name: 'Angle' }); %>