<%# console.log("Item:", key, value) %>
<div class="row">
  <div class="col-6">
    <%= key %>
  </div>
  <div class="col-6">
  <% if (typeof value === 'object') { %>
    <button type="button" id="button-<%=popoverID%>" class="btn btn-secondary" 
      data-bs-toggle="popover" data-bs-title="<%=key%>" data-bs-content="...",
      class="popover-object-button"> 
      <%=key%> 
    </button>  
  <% } else { %>
    <%=value%>
  </div>
  <% } %>
</div>

<script>
  $('#<%=popoverID%>').popover({
    html: true
  });
  $('#<%=popoverID%>').on('shown.bs.popover', function() {
    const html = ejs.print(templates.objectTemplate, { key: key, value: value, popoverID: popoverID });
  });
</script>