<%# console.log("Item:", key, value) %>
<div class="row">
  <div class="col first-col">
    <%= title %>
  </div>
  <div class="col-auto ml-1 mt-1 object-values-container">
  <% if (typeof value === 'object') { %>
    <input type="button" value="Show"
      class="btn btn-secondary btn-sm object-property-button" 
      data-popover-id="<%= popoverID %>" data-key="<%= key %>" />  
    <div id="<%= popoverID %>" title="<%= key %>"></div>
  <% } else if(typeof value === 'boolean') { %>
    <input type="checkbox" class="form-check-input properties-value value-boolean" data-key="<%= key %>
    data-popover-id="<%= popoverID %>" <% if(value) { %> checked <% } %>" /> 
  <% } else { %>
    <input type="text" value="<%= value %>" class="properties-value value-text" data-key="<%= key %>"
    data-popover-id="<%= popoverID %>" <%= readOnly(key) %>/> 
  <% } %>
  </div>
</div>
