<div class="row mt-1 vector-field js-numeric-field">
  <div class="col">
    <%= name %>
  </div>
    <% 
    const header = ['x', 'y', 'z', 'w'],
      lastIndex = keys.length;
    for(let h = 0; h < dim; h++) {
      %>
      <div class="col">
        <input type="text" 
        class="form-control value-text value-number" 
        data-object-name="<%= object %>"
        <% keys.forEach((element, index) => { %>
          data-key<%= index %>="<%= keys[index] %>"
        <% }); %> 
        data-key<%= lastIndex %>="<%= header[h] %>"
        />
      </div>
      <%
    }
    %>
</div>